<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>book recomender system</title>
</head>
<body>
    <nav class="navbar" style="background-color: bisque">
        <a class="navbar-brand">my book recomender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">reccomend</a></li>
            <li><a>contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
           
            <div class="col-md-12">
                <h1>top 50 books</h1>
            </div>
            {% for i in range(book_title|length)%}
            <div class="col-md-3" style="margin: top 30px">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{image[i]}}	
                        ">
                        <h3>harry potter</h3>
                        <p>jkrowling</p>
                        <p>300 votes</p>
                        <p>rating 3.5</p>
                    </div>
                </div>
            </div>
            {%endfor%}

            

         
        </div>


    </div>
</body>
</html>